<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Pete Michaud's Technical Blog</title>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=154870264559158";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="container">
    <div class="inner">

        <header>
            <h1><a href="/">Pete Michaud</a></h1>
            <h2>Talk mathy to me, baby</h2>
        </header>

        <a id="view-on-github" href="https://github.com/PeteMichaud">
            <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork Pete Michaud on GitHub">
        </a>

        <hr>

        <section id="main_content">
            {{ content }}
        </section>

        <footer>
            <div id="author">
                Pete Michaud lives and works in Austin, Texas. He writes about technical things here. He also writes
                about psychology and spirituality at <a href="http://www.petermichaud.com">PeteMichaud.com</a>. He also
                showcases and sells his paintings at <a href="http://www.peteart.com">PeteArt.com</a>. Pick your poison.
            </div>

            Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

    </div>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37410071-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>